@charset "UTF-8";

p{
	font-weight: bold;
	margin-bottom: 10px;
}
	
.password{
	background-color: #fafafa;
	margin: 50px 200px;
	width: 500px;
}	
	
.password>form>div{
	width: 200px;
	margin: 0 auto;
	margin-top: 20px;
}

.password>.bt{
	height: 40px;
	color: black;
	background-color: #f6f6f6;
	line-height: 40px;
}


.put>input{
	width: 200px;
	height: 20px;
	border-radius: 5px;
}

.sub>input{
	width: 80px;
	margin-top: 10px;
}

